.git
.github
.gitignore
.gitattributes
.editorconfig
.styleci.yml
.env
.env.example
.env.production
.phpunit.result.cache
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.vercel
README.md
phpunit.xml
